body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #F5F5F5;
}

h1 {
  color: #1A1A1A;
  font-size: 2em;
  text-shadow: 2px 2px #BDBDBD;
  animation: text-shadow 0.5s ease-in-out infinite alternate;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  color: #757575;
}

@keyframes text-shadow {
  from {
    text-shadow: 2px 2px #BDBDBD;
  }
  to {
    text-shadow: 4px 4px #BDBDBD;
  }
}
